name: CI

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/ci.yml"
      - "backend/src/**"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/ci.yml"
      - "backend/src/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}@${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  # Create a new Nix cache if none exists
  # All jobs that use the cache should "need" this job
  build-cache-nix:
    name: Build and cache Nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Cache Nix
        uses: actions/cache@v5
        id: nix-cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-nix-cache-${{ hashFiles('flake.lock', 'flake.nix', 'nix/**') }}
          lookup-only: true

      - name: Install Nix
        id: nix-install
        if: steps.nix-cache.outputs.cache-hit != 'true'
        uses: cachix/install-nix-action@v31

      - name: Export Nix cache
        if: steps.nix-cache.outputs.cache-hit != 'true'
        run: |
          # Get Nix store paths of the flake's runtime closure (dependencies required to run the devShell)
          STORE_PATHS=$(nix path-info -r $(nix build --no-link --print-out-paths .#devShells.$(nix eval --impure --raw --expr 'builtins.currentSystem').default))
          nix-store --export $STORE_PATHS > /tmp/nix-cache
          
  formatting-check:
    name: Checks
    runs-on: ubuntu-latest
    needs: build-cache-nix # Build a Nix cache first, so all matrix runners have access to it
    strategy:
      fail-fast: false
      matrix:
        cargo-command: ["fmt -- --check", "clippy -- -D warnings --allow clippy::needless_return"]
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        id: nix-install
        uses: cachix/install-nix-action@v31

      - name: Cache Nix
        uses: actions/cache@v5
        id: nix-cache
        with:
          path: /tmp/nix-cache
          key: ${{ runner.os }}-nix-cache-${{ hashFiles('flake.lock', 'flake.nix', 'nix/**') }}

      # https://github.com/cachix/install-nix-action/issues/56#issuecomment-1240991760 (thanks)
      - name: Import Nix store cache
        if: steps.nix-cache.outputs.cache-hit == 'true'
        run: "nix-store --import < /tmp/nix-cache"

      - name: Pre-build devShell # In theory the Nix cache should have a hit and therefore the devShell should already be built in the cache
        run: nix build --no-link .#devShells.$(nix eval --impure --raw --expr 'builtins.currentSystem').default

      - name: Perform check
        working-directory: backend/
        shell: nix develop ../ -c bash -e {0}
        run: cargo ${{matrix.cargo-command}}
